body {
  font-family: Arial, sans-serif;
  background-image: url("images/background.jpg"); 
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: bold;
   background-image: linear-gradient(to right,gold, white); /* Use a linear gradient for a two-color combination */
  -webkit-background-clip: text; /* Apply the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text transparent */
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

li a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  text-decoration: underline;
}

section.hero {
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

section.featured-dishes {
  text-align: center;
  padding: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #fff; /* Set "Featured Dishes" text color to white */
}

.dish {
  margin-bottom: 40px;
}

.dish img {
  width: 100%;
  height: auto;
  max-width: 400px; /* Increase the maximum width of the dish images */
  margin-bottom: 10px;
}

.dish h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color:#ffa500 ; /* Set dish title text color to white */
}

.dish p {
  font-size: 16px; /* Adjust the font size for the dish description */
  color: #fff; /* Set dish description text color to white */
}
.dish .price {
  color: red; /* Set the price text color to red */
  font-weight: bold; /* Make the price text bold */
  margin-top: 10px; /* Add margin to separate it from the dish description */
}

.dish .price-value {
  display: inline-block; /* Display the price on the next line */
}

footer {
  background-color: rgba(0, 0, 0, 0.5); /* Add transparency to the footer background */
  color: #fff;
  padding: 10px;
  text-align: center;
}
